    # ignore all largeimages directories
    # matches "largeimages" in any subfolder
    largeimages/

    # ignore all target directories
    data/naturalearth/

    # ignore all files ending with ~
    *~